<router-outlet></router-outlet>

<body>
<section class="weather">
  <div class="weather__container">
    <div class="weather__item">
      <div class="weather__input">
        <label for="input__city">Choose your city:</label>
        <input type="text" class="weather__input__city" id="input__city" value="" #cityName>
        <div class="weather__input__buttons">
          <button class="input__button" (click)="getCityWeather(cityName.value)">Submit</button>
          <button class="geolocation__button" (click)="getGeoloc()">Geo-location</button>
        </div>
      </div>
      <app-weather-current *ngIf="weatherCurrentData" [weatherCurrent]="weatherCurrentData"></app-weather-current>
    </div>
    <div class="weather__item">
      <app-weather-forecast  *ngIf="weatherDailyData" [WeatherForecast]="weatherDailyData"></app-weather-forecast>
    </div>
  </div>
</section>
</body>
